#animated-carousel {
  margin-top: 15px;
  margin-bottom: 15px;
}

#animated-carousel > img {
  border-radius: 15px;
}

#animated-carousel > .current-image {
  height: 400px;
  opacity: 0.7;
}

#animated-carousel > .previous-image,
#animated-carousel > .next-image {
  opacity: 0.2;
  margin-left: 10px;
  margin-right: 10px;
}
