body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #424a57 !important;
  color: #ff6347 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Layout */
.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text */
.text-primary {
  color: #ff6347 !important;
}

/* Buttons */
.btn-secondary {
  color: #ff6347 !important;
  background-color: #586274 !important;
  border: none !important;
}

.btn-secondary:hover {
  color: #ff6347 !important;
  background-color: #424a57 !important;
  border: none !important;
}

/* Dividers and Borders */
.divider-primary {
  background-color: #ff6347 !important;
}

/* Margins */
.bl {
  border-left: #ff6347 solid 1px !important;
}

/* Backgrounds */
.clean-card {
  background-color: #586274;
  border-radius: 15px;
}

/* Form TODO: Criar input legal para register e login, e formulários no tema escuro */
.clean-input {
  border: none !important;
  border-radius: 0px !important;
  width: 100% !important;
  color: #fafafa !important;
  background-color: #586274 !important;
  box-shadow: none !important;
}

.clean-input:focus {
  color: #424a57 !important;
  background-color: #e6e6e6 !important;
}
